@inject Pages.IndexModel Index
@inject Services.IDAL WeatherData    

@*// KOMPONENT UNDER ARBETE*@

<div class="card">
    <form method="post">
        <div class="card-body">
            <div class="card-header text-center mb-4">
                <h3>Infoga väderhistorik</h3>
                <small>Data för senaste 25 dagarna</small>
            </div>
            <select style="width:100%" name="City">
                @foreach (var city in Cities)
                {
                    <option value="@city">@city</option>
                }
            </select>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary" >Spara data</button>
        </div>
    </form>
</div>

@code {
    [Parameter]
    public string[] Cities { get; set; }


    public string City { get; set; }
}
