

// KOMPONENT UNDER ARBETE
@inject Pages.IndexModel Index
@inject Services.IDAL WeatherData    

<div class="card">
    <form method="post">
        <div class="card-body">
            <div class="card-header text-center mb-4">
                <h3>Infoga väderhistorik</h3>
                <small>Data för senaste 25 dagarna</small>
            </div>
            <select style="width:100%" name="City">
                @foreach (var city in Index.Cities)
                {
                    <option value="@city">@city</option>
                }
            </select>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary" @onclick="TestMethod">Spara data</button>
        </div>
    </form>
</div>

@code {

    private void TestMethod()
    {
        WeatherData.Save25DaysBackOfWeatherDataForCity(Index.City);
    }

}
